* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	height: 100vh;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	background-color: #1e1d23;
	font-size: 28px;
}

ul {

    list-style-type: none;
    
    }
.orders-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.orders-table th {
    padding: 20px 15px;
}
.orders-table td {
    padding: 12px 15px;
}
.result {
	margin-bottom: 50px;
}

label {
    font-size: 36px;
}



